In [1]:
import pandas as pd 
import numpy as np

In [7]:
cPRA = pd.read_csv('CPRA.csv')
cPRA.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas,Heart,Lung,Heart / Lung,Intestine,Abdominal Wall,Head & Neck: Craniofacial,GU: Uterus,Upper Limb: Bilateral,Upper Limb: Unilateral,"Face, Scalp"
0,All Centers,All CPRA,NaN,"107,888","91,242","11,896",897.0,"1,702","3,515",983.0,48.0,212.0,3.0,2.0,6.0,3.0,3.0,1.0
1,NaN,0,NaN,"56,345","55,446",0,550.0,993,0,0.0,0.0,0.0,2.0,2.0,3.0,2.0,0.0,1.0
2,NaN,1-19,NaN,"11,339","11,181",0,68.0,197,0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0
3,NaN,20-79,NaN,"15,992","15,737",0,134.0,309,0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0
4,NaN,80-97,NaN,"5,627","5,522",0,70.0,107,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [96]:
dropped_columns= cPRA.drop(columns=['Unnamed: 2', 'Heart', 'Lung', 'Heart / Lung',
                   'Intestine', 'Abdominal Wall', 'Head & Neck: Craniofacial', 
                   'GU: Uterus', 'Upper Limb: Bilateral', 'Upper Limb: Unilateral', 'Face, Scalp'])
dropped_columns.head()

,Unnamed: 0,Unnamed: 1,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
0,All Centers,All CPRA,"107,888","91,242","11,896",897.0,"1,702"
1,NaN,0,"56,345","55,446",0,550.0,993
2,NaN,1-19,"11,339","11,181",0,68.0,197
3,NaN,20-79,"15,992","15,737",0,134.0,309
4,NaN,80-97,"5,627","5,522",0,70.0,107

In [99]:
df = dropped_columns.fillna('-')

renamed_df= df.rename(columns={"Unnamed: 0": "Med. Center", "Unnamed: 1": "cPRA Values"})
renamed_df.head()

,Med. Center,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
0,All Centers,All CPRA,"107,888","91,242","11,896",897,"1,702"
1,-,0,"56,345","55,446",0,550,993
2,-,1-19,"11,339","11,181",0,68,197
3,-,20-79,"15,992","15,737",0,134,309
4,-,80-97,"5,627","5,522",0,70,107

In [101]:
new_index= renamed_df.set_index('Med. Center')

new_index['cPRA Values'] = new_index['cPRA Values'].str.replace('All CPRA', '')

new_index.head(30)

,cPRA Values,All Organs,Kidney,Liver,Pancreas,Kidney / Pancreas
Med. Center,,,,,,
All Centers,,"107,888","91,242","11,896",897,"1,702"
-,0,"56,345","55,446",0,550,993
-,1-19,"11,339","11,181",0,68,197
-,20-79,"15,992","15,737",0,134,309
-,80-97,"5,627","5,522",0,70,107
-,98-100,"5,699","5,595",0,78,108
-,-,"16,404",0,"11,896",0,0
ALCH-TX1 Children's of Alabama,,22,15,2,0,0
-,0,9,9,0,0,0
-,20-79,1,1,0,0,0
-,98-100,5,5,0,0,0
-,-,8,0,2,0,0
ALUA-TX1 University of Alabama Hospital,,"1,152","1,031",102,5,9
-,0,630,622,0,3,7
-,1-19,46,46,0,0,0
-,20-79,196,196,0,0,1
-,80-97,55,53,0,2,0
-,98-100,115,114,0,0,1
-,-,125,0,102,0,0
ALVA-TX1 Birmingham VA Medical Center,,55,55,0,0,0
-,0,44,44,0,0,0
-,1-19,3,3,0,0,0
-,20-79,7,7,0,0,0
-,80-97,1,1,0,0,0
ARBH-TX1 Baptist Medical Center,,28,0,0,0,0
-,-,28,0,0,0,0
ARCH-TX1 Arkansas Children's Hospital,,6,4,0,0,0
-,0,1,1,0,0,0
-,1-19,3,3,0,0,0
-,-,2,0,0,0,0

In [87]:
# shifted_df= renamed_df.transpose()
# shifted_df.head(50)

# grouped= renamed_df.groupby('Med. Center')
# grouped.aggregate()
# renamed_df.unstack(renamed_df['cPRA Values'])

grouped_df = renamed_df.groupby(['Med. Center', 'cPRA Values'])
df = grouped_df.size().reset_index(name='n')
df.head(20)
# grouped_df = renamed_df.groupby(["Med. Center", "cPRA Values"])
# grouped_df.head(20)

                                          Med. Center cPRA Values    n
0                                                   -           -  222
1                                                   -           0  249
2                                                   -        1-19  227
3                                                   -       20-79  232
4                                                   -       80-97  226
5                                                   -      98-100  222
6                      ALCH-TX1 Children's of Alabama    All CPRA    1
7             ALUA-TX1 University of Alabama Hospital    All CPRA    1
8               ALVA-TX1 Birmingham VA Medical Center    All CPRA    1
9                     ARBH-TX1 Baptist Medical Center    All CPRA    1
10              ARCH-TX1 Arkansas Children's Hospital    All CPRA    1
11                       ARUA-TX1 UAMS Medical Center    All CPRA    1
12               AZCH-TX1 Phoenix Children's Hospital    All CPRA    1
13  AZGS-TX1 Banner-University Medical Center Phoenix    All CPRA    1
14           AZHH-TX1 Phoenix Regional Medical Center    All CPRA    1
15                      AZMC-TX1 Mayo Clinic Hospital    All CPRA    1
16  AZSJ-TX1 St. Joseph's Hospital and Medical Center    All CPRA    1
17              AZSM-TX1 Scottsdale Healthcare Osborn    All CPRA    1
18   AZUA-TX1 Banner University Medical Center-Tucson    All CPRA    1
19                                        All Centers    All CPRA    1

In [69]:
# stacked_df= renamed_df.stack()
# # stacked_CPRA= pd.DataFrame()
# stacked_df.to_frame().head(50)